@import '/src/index.scss';

.UpcomingMovies__list {
  padding: 0;
  margin-left: 20px;
}
.UpcomingMovies__thumb {
  width: 15vw;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.UpcomingMovies__name {
  font-size: 14px;
  text-align: center;
  max-width: 200px;
}

.UpcomingMovies__title {
  composes: Home__title from 'views/HomeView.module.scss';
}
.UpcomingMovies__photo {
  margin: 0;
  box-shadow: var(--shadow);
}

.UpcomingMovies__heading {
  text-align: center;
}

.UpcomingMovies__date {
  text-align: center;
}
