@import '/src/index.css';

.AddInfo__item {
  display: inline-block;
  margin-right: 40px;
  font-size: 25px;
  font-weight: 600;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
}

.AddInfo__links {
  margin-bottom: 70px;
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
